.popup__form {
	z-index: 1;
	position: relative;
	align-self: center;
	justify-self: center;
	background-color: #FFFFFF;
	grid-area: 1 / 2 / 1 / 2;
	min-width: 282px;
	max-width: 430px;
	border-radius: 10px;
}

@media screen and (max-width: 439px) {
	.popup__form {
		max-width: 282px;
	}
}