.popup__save-btn {
	margin: 48px 0 0;
	padding: 14px 0 18px;
	color: #FFF;
	border: none;
	background: #000;
	border-radius: 2px;
	width: 100%;
	font-size: 18px;
	line-height: 22px;
	cursor: pointer;
}

.popup__save-btn:hover {
	opacity: .8;
	transition: opacity .1s;
}