.popup__close-btn {
	width: 58px;
	height: 58px;
	position: absolute;
	top: -50px;
	right: -50px;
	background-image: url("../../../images/close_icon.png");
	background-size: contain;
}

.popup__close-btn:hover {
	opacity: .6;
	transition: opacity .1s;
}

@media screen and (max-width: 539px) {
	.popup__close-btn {
		right: -10px;
	}
}

@media screen and (max-width: 449px) {
	.popup__close-btn {
		max-width: 37px;
		max-height: 37px;
		top: -45px;
	}
}